body {
    background-color: #3B5BA7;
    margin: 0;
}

header {
    background-color: #FECB00;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

header img {
    width: 15%;
}

#searchBar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2rem 0;
    padding: 0;
}

#searchBar #auxiliarBox {
    display: flex;
    width: 100%;
    justify-content: center;
}

#searchBar h4, #listContainer h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    color: #FECB00;
    margin: 1rem 0 1rem 0;
}

#searchBar input, #listContainer input {
    background-color: whitesmoke;
    width: 40%;
    border: 2px solid #FECB00;
    border-radius: 15px 0 0 15px;
    padding: .5rem .9rem;
}

#searchBar i, #listContainer i  {
    background-color: #FECB00;
    color: #3B5BA7;
    padding: .5rem;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
}


#resultContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.targetPresentation {
    display: none;
    flex-direction: column;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: #3B5BA7;
    border: 2px solid #1e3b7e;
    background-color: #FECB00;
    padding: .2rem .8rem;
}

.targetPresentation h4 {
    text-align: left;
    margin: 0;
}

.targetPresentation ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 1rem 0;
}

.targetPresentation li {
    padding: .2rem .4rem;
    margin: 0 .3rem;
    color: #f1f1f1;
    border: 1px solid black;
    border-radius: 14px;
    font-size: 10px;
}


#loading-container {
    display: none;
    justify-content: center;
    align-items: center;
}
  
.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#listContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
}

#list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#listContainer .targetPresentation {
    margin: 1rem 1rem;
}

#listContainer .targetPresentation h4,
#listContainer .targetPresentation span {
    color: #3B5BA7;
}

#mainContainer { 
    display: flex;
    width: 100%;
}

#filtersContainer {
    max-height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background-color: #1e3b7e;
    color: #f1f1f1;
}

.listButton {
    cursor: pointer;
    padding: .5rem 1rem;
    margin: .5rem 1rem;
    background-color: #E0C068;
    color: #1e3b7e;
    border: 1px solid #1e3b7e;
    border-radius: 10px;
}

#listAmount {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#listNav {
    margin-top: 1rem;
    margin-bottom: 2rem;
}


/* TYPES */
.normal {
    background-color: #A8A878;
}

.fire {
    background-color: #F08030;
}

.water {
    background-color: #6890F0;
}

.grass {
    background-color: #6890F0;
}

.electric {
    background-color: ##F8D030;
}

.ice {
    background-color: #98D8D8;
}

.fighting {
    background-color: #C03028;
}

.poison {
    background-color: #A040A0;
}

.ground {
    background-color: #E0C068;
}

.flying {
    background-color: #A890F0;
}

.psychic {
    background-color: #B8A038;
}

.bug {
    background-color: #A8B820;
}

.rock {
    background-color: #B8A038;
}

.ghost {
    background-color: #705898;
}

.dark {
    background-color: #DBC8CE;
}

.dragon {
    background-color: #7038F8;
}

.steel {
    background-color: #B8B8D0;
}

.fairy {
    background-color: #F0B6BC;
}
